*{
margin: 0 auto;
box-sizing:border-box;
padding: 0;
}
header{
outline: 1px solid brown;
width: 100%; 
height: 500px;   
margin: 0 auto;    
    
}
img{
    
    
height: 500px;    
    
}